
  *{
    font-family: tahoma;
  }
  .logo2{
    font-size: 1.75em;
    color: skyblue;
  }
  #image{
    width: 100%;
  }
  .menu a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    
}
.img{
  padding-left: 9px;
}
.time{
  border: 1px solid yellowgreen;
  background-color: steelblue;
}
.ticket{
  border: 1px solid red;
  background-color: red;
}
.text1{
  color: black;
  position: absolute;
  top: 50px;
  left: 40px;
  }
.text2{
  position: absolute;
  background-color: red;
  text-decoration: none;
  font-size: 1em;
  color: #000;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid blue;
  padding-top: 4px;
  width: 100px;
  height: 30px;
  bottom: 100px;
  left: 180px;
}
.text2:hover{
  width: 110px;
  height: 35px;
  font-size: 1.25em;
  display: inline;
  background-color: blue;
}
.menu a.cl:hover{
    font-size: 1.5em;
    color: rgba(53, 255, 2, 0.877);
}
.menu li {
    margin-bottom: 10px;
    float: left;
    padding: 2px 20px;
    display: inline;
}
.carousel-caption{
  padding: 100px 70px 70px;
} 
.news{
  padding-top: 370px;
  padding-bottom: 30px;
}
.gallery{
  padding: 550px 0 30px 0;
  padding-left: 45%;
}
.card-title{
  font-size: 2em;
  font-weight: bold;
}
.card-text{
  padding-top: 20px;
  font-size: 1.15em;
}

  /*footer*/
  .menuFooter{
  padding: 10px 0 10px 0;
	display: flex;
	justify-content: center;
  }
  .menuFooter1{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.menuFooter a{
	font-size: 1.2em;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	text-decoration: none;
}
#icon{
  padding: 10px 0 10px 0;
}
#icon a{
  padding-left: 30px;
  color: white;
  font-size: 55px;
}
#icon a:hover{
  color: rgba(53, 255, 2, 0.877);
}
.info2 a{
  font-size: 1.2em;
  text-decoration: none;
  color: white;
}
footer{
  padding: 10px 0 10px 0;
  font-size: 1.2em;
  background-color: black;
  color: white;
}
footer a:hover{
  font-size: 1.5em;
  color: rgba(255, 154, 2, 0.877);
}
  /*contact*/
  .name{
    padding-left: 65px;
    font-size: 35px;
    color: skyblue;
  }
  
  .info1{
    padding-top: 50px;
  }
  .info1 a{
    font-size: 1.5em;
    color: black;
    text-decoration: none;
  }
  
  .menu-box {
    right: 5%;
    position: relative;
    height: 300px;
    border: 10px solid white;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: snow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .menu-item {
    transition: all 200ms ease-in-out;
    font-family: Doko-Book;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    box-shadow: 20px 20px url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    transition: all .4s ease;
    color:black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  }
  
  
  .menu-item:hover {
    transform: translateY(-8%);
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px; */
      border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    }
  
  
  .menu-footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
  }
  .menu-footer a{
    text-decoration: none;
    font-weight: 400;
    color: black;
    padding: 10px 15px;
    /* background: aquamarine;
    text-transform:uppercase;
    border-radius: 10px; */
    transition: all 200ms; 
  }
  /* .menu-footer a:hover{
    color: red;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  } */






  .img-layer img {
    width: 105%;
    position: absolute;
    top: 0;
    left: -8%;
    transition: all 0.3s;
  }
  
  .img-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
  }
  
  .img-quote {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
    padding: 30px 0px;
    color: white;
    font-size: 15px;
  }
  
  .img-title {
    padding: 0 20px;
    color: white;
    text-shadow: 4px 3px 0px black;
  }

  .img-layer:hover .img-title{
    color: black;
    text-shadow: 4px 3px 0px white;
  }
  
  .img-layer:hover .img-content {
    bottom: 3rem;
  }
  
  .img-layer:hover .img-quote {
    opacity: 1;
    transform: none;
  }
  
  .img-layer:hover img {
    left: 0;
  }
  
 
  
  
#workarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1e1a3e;
  font-family: Raleway;
}

#personal {
  color:black;
  text-decoration:none;
  position:absolute;
  bottom:15px;
  right:2%;
}

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #1e1a3e;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: black;
  text-decoration: none;
  font-weight: 200;
  font-size: 1.1em;
}
#text a:hover {
  color: rgb(33, 60, 92);
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #1e1a3e;
}








a1 {
  width: 230px;
  padding: 20px 30px;
  height:65px;
  position: relative;
  display: block;
  text-decoration: none;
  overflow: hidden;
  font-family: "Righteous", cursive;
  cursor: pointer;
}
a1:hover .wave {
  top: -120px;
}
a1 span {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 15px;
  letter-spacing: 8px;
}
a1 .wave {
  width: 200px;
  height: 200px;
  background-color: #444857;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: -80px;
  transition: 0.4s;
}
a1 .wave::before, a1 .wave::after {
  width: 200%;
  height: 200%;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}
a1 .wave::before {
  border-radius: 45%;
  background-color: #141414;
  animation: wave 5s linear infinite;
}
a1 .wave::after {
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: wave 10s linear infinite;
}

@keyframes wave {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}