
  *{
    font-family: tahoma;
  }
  .logo2{
    font-size: 1.75em;
    color: skyblue;
  }
  #image{
    width: 100%;
  }
  .menu a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    
}
.img{
  padding-left: 9px;
}
.time{
  border: 1px solid yellowgreen;
  background-color: steelblue;
}
.ticket{
  border: 1px solid red;
  background-color: red;
}
.text1{
  color: black;
  position: absolute;
  top: 50px;
  left: 40px;
  }
.text2{
  position: absolute;
  background-color: red;
  text-decoration: none;
  font-size: 1em;
  color: #000;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid blue;
  padding-top: 4px;
  width: 100px;
  height: 30px;
  bottom: 100px;
  left: 180px;
}
.text2:hover{
  width: 110px;
  height: 35px;
  font-size: 1.25em;
  display: inline;
  background-color: blue;
}
.menu a.cl:hover{
    font-size: 1.5em;
    color: rgba(53, 255, 2, 0.877);
}
.menu li {
    margin-bottom: 10px;
    float: left;
    padding: 2px 20px;
    display: inline;
}
.carousel-caption{
  padding: 100px 70px 70px;
} 
.news{
  padding-top: 370px;
  padding-bottom: 30px;
}
.gallery{
  padding: 550px 0 30px 0;
  padding-left: 45%;
}
.card-title{
  font-size: 2em;
  font-weight: bold;
}
.card-text{
  padding-top: 20px;
  font-size: 1.15em;
}

  /*footer*/
  .menuFooter{
  padding: 10px 0 10px 0;
	display: flex;
	justify-content: center;
  }
  .menuFooter1{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.menuFooter a{
	font-size: 1.2em;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	text-decoration: none;
}
#icon{
  padding: 10px 0 10px 0;
}
#icon a{
  padding-left: 30px;
  color: white;
  font-size: 55px;
}
#icon a:hover{
  color: rgba(53, 255, 2, 0.877);
}
.info2 a{
  font-size: 1.2em;
  text-decoration: none;
  color: white;
}
footer{
  padding: 10px 0 10px 0;
  font-size: 1.2em;
  background-color: black;
  color: white;
}
footer a:hover{
  font-size: 1.5em;
  color: rgba(53, 255, 2, 0.877);
}
  /*contact*/
  .name{
    padding-left: 65px;
    font-size: 35px;
    color: skyblue;
  }
  
  .info1{
    padding-top: 50px;
  }
  .info1 a{
    font-size: 1.5em;
    color: black;
    text-decoration: none;
  }
  
  .menu-box {
    right: 5%;
    position: relative;
    height: 300px;
    border: 10px solid white;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: snow;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .menu-item {
    transition: all 200ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  
  .menu-item:hover {
    transform: translateY(-8%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  
  .menu-footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
  }
  .menu-footer a{
    text-decoration: none;
    font-weight: 400;
    color: black;
    padding: 10px 15px;
    background: aquamarine;
    text-transform:uppercase;
    border-radius: 10px;
    transition: all 200ms;
  }
  .menu-footer a:hover{
    color: red;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }






  .img-layer img {
    width: 105%;
    position: absolute;
    top: 0;
    left: -8%;
    transition: all 0.3s;
  }
  
  .img-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
  }
  
  .img-quote {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
    padding: 30px 0px;
    color: white;
    font-size: 15px;
  }
  
  .img-title {
    padding: 0 20px;
    color: white;
    text-shadow: 4px 3px 0px black;
  }

  .img-layer:hover .img-title{
    color: black;
    text-shadow: 4px 3px 0px white;
  }
  
  .img-layer:hover .img-content {
    bottom: 3rem;
  }
  
  .img-layer:hover .img-quote {
    opacity: 1;
    transform: none;
  }
  
  .img-layer:hover img {
    left: 0;
  }
  
 
  
  